header {
    background-color: rgb(0, 0, 110);
    padding: 15px 10px;
    color: aliceblue;
}

body {
    margin: 0 0;
    font-family: fantasy;
    color: #444444;
    background-color: aliceblue;
}

.formulario {
    display: inline-block;
    width: 400px;
	margin: 0 12px;
}

label {
    display:block;
    margin: 5px 0;
}

.bloco_categorias {
    margin: 2em auto;
}

.input_padrao {
    display: block;
    background-color: rgb(255, 255, 167);
    margin: 10px 0;
    width: 25em;
    height: 2em;
    border-radius: 10px;
}

.input_radio{
    display: block-inline;
}

.botao{
    width: 10em;
    height: 2em;
    border-radius: 8px;
    transition: 0.5s;
    cursor:pointer;
}

.botao:hover{
    background-color: #444444;
}

.lista_compras{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #444444;
    display: inline-block;
    width: 400px;
}

.categoriaLista {
    font-weight: bold;
    margin-top: 10px;
}

.itemLista {
    font-weight: normal;
}

.tituloLista {
    border-bottom: 1px solid black;
}

.removeItem {
    
    font-size:14px;
    font-family: Comic Sans MS;
    width: 20px;
    height: 20px;
    
    overflow: visible;
    line-height: center;
    color:black;
    border: none;
    font-weight:bold;
    margin-left: 5px;
    /* box-shadow:inset 0px 1px 0px 0px #fce2c1; */
    /* text-shadow:inset 0px 1px 0px #cc9f52; */
    background:transparent;
    cursor: pointer;
}

.removeItem:hover {
    background: #fb9e25
}